body{
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-image: url(img/fond.jpg);
    background-size:100%; 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

h1,h2{
    color: white;
    align-items: center;
    justify-content: center;
}

.texte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.game{
    width: 600px;
    height: 200px;
    z-index: 2;
    background-color:white;

    margin: auto;
}   

#santa {
    width: 80px;
    height: 50px;
    background-image:url(img/pere.jpg);
    background-size: 80px 50px;
    z-index: 2;
    position: relative;

    right: 200px;
    bottom: 50px;
    
    margin: auto;

}
.jump {
    z-index: 2;
    animation: jump 0.8s linear; 
}

@keyframes jump {  
 
    0%{      
        bottom: 50px;
    }
    
    30%{
        bottom: 190px;
    }
   
    100%{
        bottom: 50  px;
    }
}

#tree{
    width: 25px;
    height: 60px;
    position: relative;
    z-index: 2;
    bottom: 110px;
    left: 340px; 
    visibility: hidden;
    background-image:url(img/sapin.jpg);
    background-size: 25px 60px;

    margin: auto;

}

#treeBis{

    width: 25px;
    height: 60px;
    position: relative;
    z-index: 2;
    bottom: 170px;
    left: 340px; 
    visibility: hidden;
    background-image:url(img/sapin.jpg);
    background-size: 25px 60px;

    margin: auto;

}
 
 
.blockActivation{
    z-index: 2;
    animation: block 1s linear;
}
@keyframes block {
    0% {
        left: 340px;
    }

    100%{
        left: -400px;
    }

}

#score{
    width: 80px;
    height: 50px;
    z-index: 2;
    position: relative;

    left: 265px;
    bottom: 300px;
    
    margin: auto;

}

#gameOver
{
    display: none;
    z-index: 2;
    width: 80px;
    height: 50px;
    font-size: 70px;
    position: relative;

    right: 115px;
    bottom: 330px;  
    
    margin: auto;

}
